
:root{/*configuracion de variables globales*/
    --primary-color:#701130;
    --secondary-color:#91123a;
    --bg-light:#f9f9f9;
    --text-dark:#333;
    --white:#ffffff;
    --accent-color:#ff4c00;
    --border-color:#ddd;
}
body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;/*indica la separacion del contenedor con la ventana*/
    padding:0;/*indica la separacion del texto con sus bordes*/
    background-color: var(--bg-light); /*inidica el color de fondo*/
    color:var(--text-dark);
}

header {
    background-color:var(--white) ;
    border-bottom:3px solid var(--primary-color);
    margin:0px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}


.logo-text{
    font-size: 1.5rem; /*indica el tamaño del texto*/ /*de manera predeterminada el font es de 16px*/
    font-weight: bold;
    color: var(--text-dark)
}

.logo-dot-pe{
    color:red;
}

.app-title{
    font-size: 1.5rem;/*esta unidad calcula automaticamente en base del elemento raiz 1 rem=16px*/
    font-weight: bold; /*indica el grosor del texto*/
    color: var(--primary-color);/*indica el color del texto*/
    background-color: var(--bg-light)
}

.main-footer{
    text-align: center;/*indica la linealidad del texto*/
    color:#999;
    font-size: 0.8rem; 
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #eee; /*indica el borde superior*/
}

.container{
    max-width: 1000px;
    margin:30px;
    padding:40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    background-color: var(--white);
    min-height: 400px;
}

.screen-description{
    color:#666;
    margin-bottom: 20px;
}

h2{
    color: var(--primary-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
}

.form-group{
    margin-bottom: 20px;
}

label{
    display:block;
    font-weight: 600;
    margin-bottom: 8px;
}

.screen{
    display:none;
}

.screen.active{
display: block;
}

input[type="text"]{
    width:100%;
    padding:12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
}

.flex-end{
    display:flex;
    justify-content: flex-end;
    gap:10px;
}

.btn{
    padding:12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.2s;

}

.btn-primary{
    background-color: var(--primary-color);
    color:var(--border-color)

}

.btn-primary.hover{
    background-color: var(--secondary-color);
}

